body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.section {
    height: 100vh;
    display: flex;
    position: relative;
}

.home {
    background-color: #468be4;
}


.projects {
    /* background-color: #e74c3c; */
}
.contact {
    background-color: #f08080;
    
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
