.hero {
    display: flex;
    justify-content: center;
}
.background-gradient-animation {
  position: absolute;
  inset: 0;
  /* background: linear-gradient(45deg, #333333, #aaaaaa, #333333); */
  background-size: 200% 200%;
  animation: gradientAnimation 2s ease infinite;
  z-index: -1;
}
  
.intro{
    display: flex;
    text-align: center;
    align-items: center;
}
.intro h1{
    font-family: Dahlia;
    font-size: 6rem;
    color: black;
    margin-top: -50px;
    position: relative;
    width: 100%;
}

.intro span{
    background-image: url("../../assets/Web.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    display: inline-block;
    font-family: Dahlia;
    
}
