.about {
   height: 100vh;
   background-color: #669bbc;
   display: flex;
   flex-direction: column;
}

.about-bg {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   overflow: hidden;
   /* Ensures content doesn't overflow */
   position: relative;
}

.about-bg img {
   display: block;
   width: 30%;
   height: 80%;
   float: right;
   object-fit: contain;
   margin: 10px 20px;
   clip-path: inset(0 0 100% 0);
   /* Start with the image hidden */
   transition: clip-path 1s ease-in-out;
   /* Smooth transition */
}

.image.reveal {
   clip-path: inset(0 0 0 0);
   /* Reveal the entire image */
}

.reveal-text {
   opacity: 0;
}

.marquee-container {
   overflow: hidden;
   white-space: nowrap;
   width: 95%;
   margin: 0 auto;
   /* background-color: #79dde4; */
}

.marquee {
   display: inline-block;
   padding-left: 100%;
   /* Start off screen */
   transition: transform 1s ease-in-out;
}

.marquee.animate {
   animation: marquee 20s linear infinite;
   /* Adjust speed as needed */
}


.title .even {
   color: #001d3d;
   /* Different color for even instances */
}

.about-content {
   display: flex;
   justify-content: start;
   flex-wrap: wrap;
   width: 50%;
   border-radius: 12px;
   padding: 30px 60px;
   background: transparent;
   backdrop-filter: blur(10px);
   border: 1px solid rgba(140, 140, 140, 0.25);
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   z-index: 2;
   color: whitesmoke;
   overflow: hidden;
}

.about-content h1 {
   font-size: 36px;
   font-weight: normal;
   /* font-style: italic; */
   text-align: justify;
   font-family: "Poppins", sans-serif;
   letter-spacing: 0px;
   margin: 0;
   line-height: 1.6;
   text-transform: capitalize;
   overflow: hidden;
   transition: transform 1s ease;
}

.typewriter-text {
   display: inline-block;
   position: relative;
   overflow: hidden;
   opacity: 0;
   transform: translateX(-100%);
   /* Start off-screen */
   transition: opacity 1.5s ease, transform 1s ease;
}

.typewriter-text.reveal {
   opacity: 1;
   /* Make text visible */
   transform: translateX(0);
   /* Move text into view */
}
.resume-btn {
   font-family: "New Amsterdam", sans-serif;
   font-weight: 400;
   font-size: 24px;
   border-radius: 12px;
   background-color: #001d3d;
   color: white;
   width: auto;
   padding: 10px 50px;
   margin-top: 10px;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
}
.resume-btn:hover {
   background-color: white;
   color: black;
}
.shape {
   position: absolute;
   z-index: 0;
   width: 30%;
   height: 60%;
   left: 15%;
   background: linear-gradient(64deg, #5f5f5f 23%, #c7c9c6 80%);
   animation: blob 5s ease-in-out infinite;
}

@keyframes blob {

   0%,
   100% {
      border-radius: 65% 100% 80% 100%
   }

   25% {
      border-radius: 100% 80% 100% 65%
   }

   50% {
      border-radius: 80% 100% 65% 100%
   }

   75% {
      border-radius: 100% 65% 100% 80%
   }
}

@keyframes marquee {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-100%);
   }
}
@media screen and (max-width:1303px) {
   .about-content h1 {
      font-size: 32px;
   }
}

@media screen and (min-width: 990px) and (max-width: 1157px) {
   .about-content h1 {
      font-size: 30px;
   }
}

@media screen and (min-width: 868px) and (max-width: 990px) {
   .about-content h1 {
      font-size: 27px;
      line-height: 1.3;
   }
}

@media screen and (max-width:868px) {
   .about-content h1 {
      font-size: 24px;
      line-height: 1.3;
   }
   .about-content {
      padding: 20px 40px;
   }
   .about-bg img {
      width: 25%;
   }
   .shape {
      width: 30% !important;
      height: 60%  !important;
      left: 15%  !important;
   }
   

}
@media screen and (max-width:768px) {
   .about-bg {
      padding-top: 70px;
      flex-direction: column;
      height: 100%;
  }
  .shape {
   display: none  ;
}

   .about-content {
      justify-content: center;
      height: auto;
      width: 70%;
      gap: 20px;
      padding: 40px;
  }
  .about-bg img {
   width: 40%;
   height: 50%;
  }
}
@media screen and (max-width:567px) {
   .about-content h1 {
      font-size: 20px;
   }
   .about-content {
      padding: 15px 30px;
   }
}