.contact {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   background-color: #1565c0;
}
.lines {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 100%;
   margin: auto;
   width: 90vw;
   pointer-events: none; /* Ensures the lines don't block interaction with other elements */
 }
 
 .line {
   position: absolute;
   width: 1px;
   height: 100%;
   top: 0;
   left: 50%;
   background: rgba(255, 255, 255, 0.1);
   overflow: hidden;
 }
 
 .line::after {
   content: '';
   display: block;
   position: absolute;
   height: 15vh;
   width: 100%;
   top: -50%;
   left: 0;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
   animation: drop 7s 0s infinite;
   animation-fill-mode: forwards;
   animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
 }
 
 .line:nth-child(1) {
   margin-left: -25%;
 }
 
 .line:nth-child(1)::after {
   animation-delay: 2s;
 }
 
 .line:nth-child(3) {
   margin-left: 25%;
 }
 
 .line:nth-child(3)::after {
   animation-delay: 2.5s;
 }
 
 @keyframes drop {
   0% {
     top: -50%;
   }
   100% {
     top: 110%;
   }
 }

.contact-container {
   width: 80%;
   padding: 20px;
}

.contact-form {
   position: relative;
   background: rgba(255, 255, 255, 0.308);
   backdrop-filter: blur(5px);
   border-radius: 8px;
   padding: 30px 50px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1;

}

/* Style for the form groups */
.form-group {
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
   font-weight: normal;
   color: rgb(0, 0, 0);
}

.form-group input,
.form-group textarea {
   width: 100%;
   padding: 10px;
   margin: 10px;
   border: 1px solid #ccc;
   /* background-color: #706c6c; */
   border-radius: 6px;
   font-size: 16px;
   font-weight: 500;
   color: rgb(0, 0, 0);
   outline-color: transparent;
   text-transform: uppercase;
}

button {
   width: 70%;
   margin: 0 auto;
   background-color: #1565c0;
   color: white;
   border: none;
   font-size: 24px;
   border-radius: 12px;
   font-family: New Amsterdam;
   text-transform: uppercase;
   padding: 10px;
   transition: all 0.25s ease;
}

button:hover {
   background-color: #fff;
   color: #1565c0;
}

button:active {
   background-color: #1565c0;
   color: #fff;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.end {
   display: flex;
   align-items: center;
   gap: 50px;
   padding: 10px 20px;
}
.end h1 {
   margin: 0;
}
.end a img {
   width: 50px;
   height: 50px;
   object-fit: cover;
}
.end p{
   font-family: "New Amsterdam", sans-serif;
   font-size: 22px;
   text-transform: uppercase;
   display: block;
}

/* contact.css */

.modal {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-color: #a9eaba;
   padding: 20px 50px;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
   z-index: 1000;
 }
 
 .modal p {
   font-family: "New Amsterdam", sans-serif;
   margin: 0;
   font-size: 24px;
   color: rgb(0, 0, 0);
 }
 @media screen and (max-width:830px) {
   .contact {
      height: auto;
   }
   .contact-form {    
      padding: 30px 20px;
   }
 }

 @media screen and (max-width: 768px) {
   .contact {
      height: 100vh;
   }
   .contact-container {
      width: 90%;
   }
   .lines {
      margin: 0 10px;
   }
   .contact-form {
      padding: 30px 10px;
  }
}


@media screen and (max-width:450px) {
   .end a img {
      width: 40px;
      height: 40px;
      object-fit: contain;
  }
  .form-group input, .form-group textarea {
   font-size: 12px;
  }
  button {
   width: 60%;
   font-size: 20px;
  }
  .end {
   gap: 20px;
  }
}