
#cursorDot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #000000;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);

}

#cursorRing {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    position: fixed;
    z-index: 9998;
    pointer-events: none;
    transform: translate(-50%, -50%);
}


@media screen and (max-width:768px) {
    #cursorDot, #cursorRing {
        display: none;
    }
}
